@charset "UTF-8";

body {
    background-color: rgb(147, 180, 209);
}
main {
    background-color: rgb(233, 221, 206);
    width: 60%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
    margin: auto;
}